In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.DataFrame({'Mileage': ['12.5 kmpl', '15 km/kg', '10 km']})

In [3]:
df['Mileage'] = df['Mileage'].str.replace('[^.\d]','')#[^.\d]

In [4]:
df

  Mileage
0    12.5
1      15
2      10

In [5]:
df = pd.DataFrame({'Mileage': ['12 kmpl', '15 km/kg', '10 km'], 
                   'Engine': ['2000 CC', '1200 CC', '2400 CC'], 
                   'Power': ['120 bhp', '100 bhp', '112 bhp']})

In [6]:
df

    Mileage   Engine    Power
0   12 kmpl  2000 CC  120 bhp
1  15 km/kg  1200 CC  100 bhp
2     10 km  2400 CC  112 bhp

In [7]:
col = ['Mileage','Engine','Power']
for i in range(0,3):
    df[col[i]] = df[col[i]].str.replace('[^.\d]','').astype('float')

In [8]:
df

   Mileage  Engine  Power
0     12.0  2000.0  120.0
1     15.0  1200.0  100.0
2     10.0  2400.0  112.0

In [9]:
x = 'Renault Duster VXI'

In [10]:
x.split()

['Renault', 'Duster', 'VXI']

In [11]:
' '.join(x.split())

'Renault Duster VXI'

In [12]:
x.split()[0]

'Renault'

In [13]:
x.split()[1:]

['Duster', 'VXI']

In [14]:
cars=pd.read_csv('Cars.csv')

# Food for thought

In [15]:
cars.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Colour',
       'Seats', 'No. of Doors', 'New_Price', 'Price'],
      dtype='object')

In [16]:
cars=cars.drop('New_Price',axis=1)

In [17]:
cars.duplicated().sum()

2

In [18]:
cars.drop_duplicates(inplace=True)

In [19]:
cars['Power'] = cars['Power'].replace('null bhp', np.nan)

In [20]:
cars['Mileage'] = cars['Mileage'].str.replace('kmpl','').str.replace('km/kg','').astype('float')
cars['Engine'] = cars['Engine'].str.replace('CC','').astype('float')
cars['Power'] = cars['Power'].replace('null bhp', np.nan)
cars['Power'] = cars['Power'].str.replace('bhp','').astype('float')

In [21]:
cars_sub = cars.select_dtypes(exclude = 'object')

In [22]:
cars_sub.columns

Index(['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats',
       'No. of Doors', 'Price'],
      dtype='object')

In [23]:
cars_sub.dropna(inplace = True)

In [24]:
cars_sub.isnull().sum()

Year                 0
Kilometers_Driven    0
Mileage              0
Engine               0
Power                0
Seats                0
No. of Doors         0
Price                0
dtype: int64

In [25]:
for i in cars_sub.columns:
    print(i, ' has ', cars_sub[cars_sub[i] == 0].shape[0], 'zeros')

Year  has  0 zeros
Kilometers_Driven  has  0 zeros
Mileage  has  28 zeros
Engine  has  0 zeros
Power  has  0 zeros
Seats  has  0 zeros
No. of Doors  has  0 zeros
Price  has  0 zeros

In [26]:
cars_sub.shape

(5812, 8)